
<h1>Your nesoberi rankings</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Rank</th>
		<th>Move Up</th>
		<th>Move Down</th>
	</tr>

	<% current_user.ranking_info.each do |nesoberi| %>
		<tr>
			<td><%= nesoberi[:name] %></td>
			<td><%= nesoberi[:rank] == 0 ? "?" : nesoberi[:rank] %></td>

			<td><%= link_to "Up", ranking_edit_path(nesoberi: nesoberi[:id], direction: "up"), method: :post %></td>
			<td><%= link_to "Down", ranking_edit_path(nesoberi: nesoberi[:id], direction: "down"), method: :post %></td>
		</tr>
	<% end %>

</table>
