<div class="maindiv">
  <h1>Your best girl rankings</h1>

  <table>
    <tr>
      <th>Name</th>
      <th>Rank</th>
    </tr>
    <% current_user.ranking_info.each.with_index do |girl, line| %>
      <% if line == current_user.rankings.count   # Put separator between ranked and unranked girls. %>
        <tr><td><hr></td></tr>
      <% end %>
      <% rank = girl[:rank] %>
      <tr>
        <td width="200px"><%= girl[:name] %></td>
        <td align="center"><%= rank == 0 ? "?" : rank %></td>
        <% if rank != 1 %>
          <td align="center"><%= link_to "Up", ranking_edit_path(girl: girl[:id], direction: "up"), method: :post, class: 'movebutton' %></td>
        <% else %>
          <td></td>
        <% end %>
        <% if rank > 0 && rank < current_user.rankings.count %>
          <td><%= link_to "Down", ranking_edit_path(girl: girl[:id], direction: "down"), method: :post, class: 'movebutton' %></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
