
<h1>Your best girl rankings</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Rank</th>
		<th>Move Up</th>
		<th>Move Down</th>
	</tr>

	<% @ranking_info.each do |girl| %>
		<tr>
			<td><%= girl[:name] %></td>
			<td><%= girl[:rank] == 0 ? "?" : girl[:rank] %></td>

			<td><%= link_to "Up", ranking_edit_path(girl: girl[:id], direction: "up"), method: :post %></td>
			<td><%= link_to "Down", ranking_edit_path(girl: girl[:id], direction: "down"), method: :post %></td>
		</tr>
	<% end %>

</table>
