<h1>Best nesoberi site</h1>

<% if !current_user %>
	<p>Please <%= link_to "login", new_user_session_path %> and rank your best nesoberi!</p>

<% end %>

<p> Best nesoberis are: </p>
<table>
	<tr>
		<th>Name</th>
		<th>Rank</th>
	</tr>
	<% @nesoberis.each do |nesoberi| %>
		<tr>
			<td><%= nesoberi.name %></td>
			<td><%= nesoberi.global_rank %></td>
		</tr>
	<% end %>
</table>
