<h1>Best girl site</h1>

<% if !current_user %>
	<p>Please <%= link_to "login", new_user_session_path %> and rank your best girl!</p>

<% end %>

<p> Best girls are: </p>

<table>
	<tr>
		<th>Rank</th>
		<th>Girl Name</th>
		<th>TotalScore</th>
	</tr>

	<% (0..Girl.all.count-1).each do |i| %>
		<tr>
			<td><%= i+1 %></td>
			<td><%= @resultSet[i][1][:name] %></td>
			<td><%= @resultSet[i][1][:score] %></td>
		</tr>
	<% end %>
</table>
