<h1>Best girl site</h1>

<% if !current_user %>
	<p>Please <%= link_to "login", new_user_session_path %> and rank your best girl!</p>

<% end %>

<p> Best girls are: </p>

<table>

	<% @waifu_ranks.each do |girl| %>
		<tr>
			<td><%= girl[:name] %></td>
		</tr>
	<% end %>

</table>