<h1>Best girl site</h1>

<% if !current_user %>
	<p>Please <%= link_to "login", new_user_session_path %> and rank your best girl!</p>

<% end %>

<br>
<% if !current_user %>
	<p>Login to see the global rankings list.</p>
<% else %>
	<p> Best girls are: </p>
	<% Girl.all.order(average_ranking: :ASC).each do |girl| %>
	<table>
		<th></th>
		<th></th>
	<td><%= girl[:name]%><td>
	<td>AVG Rank: <%= girl[:average_ranking].round(2)%><td>
	</table>
	<%end%>
<% end %>
