<h1>Best girl site</h1>

<% if !current_user %>
	<p>Please <%= link_to "login", new_user_session_path %> and rank your best girl!</p>

<% end %>

<p> Best girls are: </p>

<ol>
  <%- @global_ranking.each do |gr| %>
      <li><%= gr.girl.name %> – <strong><%= gr.rank %></strong></li>
  <% end %>
</ol>
