<h1>Best girl site</h1>

<% if !current_user %>
	<p>Please <%= link_to "login", new_user_session_path %> and rank your best girl!</p>

<% end %>

<p> Best girls are: </p>

<table>

  <tr>
    <th>Ranking</th>
    <th>Name</th>
    <th>Total score</th>
  </tr>

  <% (0..@total_girls - 1).each do |i| %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= @girls_with_combined_scores[i][1][:name] %></td>
      <td><%= @girls_with_combined_scores[i][1][:score] %></td>
    </tr>
  <% end %>

</table>
