<div class="maindiv">
  <h1>Best girl site</h1>

  <% if !current_user %>
    <p>Please <%= link_to "login", new_user_session_path %> and rank your best girl!</p>

  <% end %>

  <p> Best girls are: </p>
  <ol>
    <% @girls.each do |g| %>
        <li><%= g.name %></li>
    <% end %>
  </ol>
</div>

