<h1>Best girl site</h1>

<% if !current_user %>
	<p>Please <%= link_to "login", new_user_session_path %> and rank your best girl!</p>

<% end %>


<% rankings = Ranking.select('girl_id, sum(rank) as rank').group('girl_id').order('rank asc') %>
<h1>Best Girl: <%= Girl.where(id: rankings.first.girl_id).first.name %></h1>
<p> The rankings are: </p>
<table>
<% rankings.each do |girl| %>
	<tr>
		<% proc_girl = Girl.where(id: girl[:girl_id]).first %>
		<% if proc_girl %>
			<td><%= proc_girl.name %></td>

		<% else %> 
			<td>Error.</td>

		<% end %> 
	</tr>
	
<% end %> 

</table>
