<h1>Best girl site</h1>

<% if !current_user %>
	<p>Please <%= link_to "login", new_user_session_path %> and rank your best girl!</p>

<% end %>

<p> Best girls are: </p>

<table>
	<tr>
		<th>Name</th>
		<th>Rank</th>
	</tr>

<% @rankings.each_index do |i| %>
	<tr>
		<td><%= @rankings[i][:name] %></td><td><%= i+1 %></td>
	</tr>
<% end %>

</table>
