<h1>Best nesoberi site</h1>

<% if !current_user %>
	<p>Please <%= link_to "login", new_user_session_path %> and rank your best nesoberi!</p>

<% end %>

<p> Best nesoberis are: </p>
<table>
<tr>
	<thead>
		<tr>
		<th> Best Ranking</th>
		<th> Nesoberi Name </th>
		<th> Ranking Score </th>
		</tr>
	</thead>
<% @best_ranking.each_with_index do |(k, v), i| %>
	<tr>
		<td>
			<%= i + 1 %>
		</td>
		<td>
			<%= v[:nesoberi_name] %>
		</td>
		<td>
			<%= v[:rank].to_s %>
		</td>
	</tr>
<% end %>

</table>

