<h1>Best girl site</h1>

<% if !current_user %>
	<p>Please <%= link_to "login", new_user_session_path %> and rank your best girl!</p>

<% end %>

<p> Best girls are: </p>
<p> 
	<pre>
		<td> [Girl Name, Global Rank] </td>
	</pre>
</p>
<pre>
	<% @girlArray.each do |girl_name|%>
		<td> <%= girl_name.inspect %> </td> 
	<% end %>
</pre>


