<h1>Best nesoberi site</h1>

<% if !current_user %>
	<p>Please <%= link_to "login", new_user_session_path %> and rank your best nesoberi!</p>

<% end %>

<p> Best nesoberis are: </p>
<p> ##Display best nesoberi ranking here:## </p>
<% @ranking_hash.each_with_index do |(k, v), i| %>
<p>
<%= i+ 1 %>
<%=": " + v[:nesoberi_name] %>
</p>
<% end %>

